@model httpswwwhemfridse.Models.WeeklyCleaningModel
@*2.2.2022.@model httpswwwhemfridse.Models.WeeklyCleaningModel didn't work so I used this website as a help:
        https://stackoverflow.com/questions/19696963/razor-view-throwing-the-name-model-does-not-exist-in-the-current-context
        like this: 52

        Here is what I did:

        Close Visual Studio
        Delete the SUO file
        Restart Visual Studio
        The .suo file is a hidden file in the same folder as the .svn solution file and contains the Visual Studio User Options.

        now it works but when I go to https://localhost:44379/WeeklyCleaning/WeeklyCleaning
        I get error HTTP ERROR 405 so I use this website as a help: https://stackoverflow.com/questions/23293782/mvc-web-api-405-method-not-allowed
        and install Microsoft.AspNet.WebApi.Cors nuget package
        but this error comes: Severity	Code	Description	Project	File	Line	Suppression State
    Warning	NU1701	Package 'Microsoft.AspNet.Cors 5.2.7' was restored using
    '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7,
    .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8'
    instead of the project target framework '.NETCoreApp,Version=v3.1'.
    This package may not be fully compatible with your project.
    httpswwwpandycocampaignflyttform	C:\Users\symph\source\repos\httpswwwpandycocampaignflyttform\httpswwwpandycocampaignflyttform\httpswwwpandycocampaignflyttform.csproj	1
    I use this website as help: https://code-maze.com/enabling-cors-in-asp-net-core/
    and change in Startup.cs:
*@

@{
    ViewData["Title"] = "WeeklyCleaning";
}



<h1>WeeklyCleaning</h1>

@*2.1.2022. Issue now is https://attilastarkenius.com/veckostadning/ really doesn't
            have the input fields that are required so I add
        those to Veckostadning.csthml (I use https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/tel
        as a help): <input type="tel" id="phone" name="phone" placeholder="Postnummer"
           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
           required>

        so now https://localhost:44379/Home/Veckostadning looks like this: httpswwwhemfridse
    Home
    Privacy
    Veckostadning
    Postnummer
    © 2021 - httpswwwhemfridse - Privacy

    where "Postnummer" is the placeholder that is there until you write a number in the
    input field with id "phone"; almost like in the website https://www.hemfrid.se/veckostadning.
    I commit all and push with a message: "Publish https://attilastarkenius.com/ and
    add input field to https://localhost:44379/Home/Veckostadning 1.2.2022."
*@

@*<input type="tel" id="phone" name="phone" placeholder="Postnummer"
    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
    required>*@

@* 26.2.2022. Because I can't edit Wordpress form fields enough(I have
        no access to php files) I instead do it
    with Visual Studio in Views/Home/WeeklyCleaning.cshtml file,
        and I think I will use html for form with help of this website: https://www.w3schools.com/html/html_forms.asp
        like this copied code but obviously adjusted to my project: <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form>
*@

@*<form action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>*@
@* 26.2.2022. I commit and push
    with message "Adding form for Zip code and Living space in square meters 26.2.2022." *@

@*28.2.2022. With help of this website: https://formvalidation.io/guide/examples/can-not-submit-form-after-validation/
                  I try to submit form "action="/action_page.php">" automatically
                  when all fields are valid - like in https://www.hemfrid.se/veckostadning
                  like this: FormValidation.formValidation(
                      document.getElementById('demoForm'),
                      {
                          fields: {
                              ...
                          },
                          plugins: {
                              // Validate fields when clicking the Submit button
                              submitButton: new FormValidation.plugins.SubmitButton(),

                              // Submit the form when all fields are valid
                              defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                              ...
                          },
                      }
                  );
                  so I change: <form action="/action_page.php">
                      to: <form id="demoForm" action="/action_page.php">
                Regarding to https://medium.com/geekculture/where-to-put-a-script-tag-into-head-or-body-end-b5b063058e0b
                I should have sripts in the end of <body> element so I do that change
                in every cshtml file.
                When I run the project "Boka veckostädning" doesn't work because
                  it's pointing at https://localhost:44379/WeeklyCleaning/WeeklyCleaning
                instead of https://localhost:44379/Home/WeeklyCleaning
                so i change in Index.cshtml from: <a href="/WeeklyCleaning/WeeklyCleaning"><div class="lfsvn _2bSWk">Boka veckostädning</div></a>
                to:     <a href="/Home/WeeklyCleaning"><div class="lfsvn _2bSWk">Boka veckostädning</div></a>
                It doesn't work either and leads to https://localhost:44379/Home/WeeklyCleaning
                with message: 405 Method Not Allowed.
                When I in Homecontroller change from: [HttpPost]
            public IActionResult WeeklyCleaning(WeeklyCleaningModel model)
            {
            return View();
            }
            to:
             //[HttpPost]
        public IActionResult WeeklyCleaning(WeeklyCleaningModel model)
        {
        return View();
        }
        it works and leads to page https://localhost:44379/Home/WeeklyCleaning
        looking like this: httpswwwhemfridse
    Home
    Privacy
    WeeklyCleaning
    First name:
    John

    Last name:
    Doe


    Postnummer

    Boyta i kvm
    © 2021 - httpswwwhemfridse - Privacy
    I commit and push with message "Fixing https://localhost:44379/Home/WeeklyCleaning 28.2.2022."
*@


<head>

</head>

<body>

    <form id="demoForm" action="/action_page.php">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>



    <input id="zip" name="zip" type="text" pattern="[0-9]*" maxlength="6" placeholder="Postnummer" required>

    <input id="sqm" name="sqm" type="text" pattern="[0-9]*" maxlength="3" placeholder="Boyta i kvm" required>


    <script>
        FormValidation.formValidation(
            document.getElementById('demoForm'),
            {
                fields: {
                    ...
                                                                    },
                plugins: {
                    // Validate fields when clicking the Submit button
                    submitButton: new FormValidation.plugins.SubmitButton(),

                    // Submit the form when all fields are valid
                    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                    ...
                                                                    },
            }
        );
    </script>


</body>

@* 1.2.2022. I want there to be a submit event:
            only when both <input id="zip" name="zip" type="text" pattern="[0-9]*" maxlength="6" required> and
            <input name="sqm" type="text" pattern="[0-9]*" maxlength="3" placeholder="Boyta i kvm" required>
            are correctly filled in. I use this website as a help: https://stackoverflow.com/questions/35756352/how-to-validate-textboxes-in-asp-net-mvc
            so I add in models map "Veckostadning.cs" model: using System;
        using System.Collections.Generic;
        using System.Linq;
        using System.Threading.Tasks;

        namespace httpswwwhemfridse.Models
        {
            public class Veckostadning
            {
                public string zip { get; set; }
                public string sqm { get; set; }
            }
        }
    I commit all and push with message "Adding Veckostadning.cs" model 1.2.2022."
*@


@* 1.2.2022. Issue that I have is that I can't really find a wordpress equivalent
                    of <input type="tel"<input type="tel"> (and I notice that of course
                    Postnummer has to have at least maxlength="6" so I use this website as help: https://css-tricks.com/html-for-zip-codes/
                    and change from: <input type="tel" id="phone" name="phone" placeholder="Postnummer"
                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                       required> to:  <input id="zip" name="zip" type="text" pattern="[0-9]*" maxlength="6" required>
                    and in https://wordpress.com/page/attilastarkenius.com/30
                    I click "Code Editor" and change from this: <!-- wp:group {"align":"full","backgroundColor":"background"} -->
            <div class="wp-block-group alignfull has-background-background-color has-background">
            <!-- wp:jetpack/layout-grid
                to this: <p><input id="zip" maxlength="6" name="zip" pattern="[0-9]*" required="" type="text" /></p>

        <!-- wp:group {"align":"full","backgroundColor":"background"} -->
        <div class="wp-block-group alignfull has-background-background-color has-background"><!--
        https://attilastarkenius.com/veckostadning/ looks exaktly same as before. I add textbox
        with help of this website instead: https://maschituts.com/how-to-create-a-text-box-in-wordpress/
        so I add a paragraph block as close to top as possible,
        and click "Edit with HTML" and write:
    <form>    <input id="zip" name="zip" type="text" pattern="[0-9]*" maxlength="6" required> </form>
        and "Convert to HTML" it still doesn't show on page https://attilastarkenius.com/veckostadning/
    and I can't save customized html. I try to find my wordpress.php file and
    edit it with help of website: https://www.beliefmedia.com.au/wordpress-text-box
    I export the content to my computer with help of this site: https://wordpress.com/export/attilastarkenius.com
    it doesn't help it's just file:///C:/Users/symph/Documents/attilastarkenius.wordpress.com-2022-02-01-20_05_31/webbplatsrubrik.wordpress.2022-02-01.000.xml
    a xml file, not a php file.


*@

