@*using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Threading.Tasks;

    namespace httpswwwpandycocampaignflyttform.Views.Home
    {
        public class httpswwwhemfridse
        {
        }
    }*@


@* 27.10.2021. Jag ändrar using System;
        using System.Collections.Generic;
        using System.Linq;
        using System.Threading.Tasks;

        namespace httpswwwpandycocampaignflyttform.Views.Home
        {
            public class httpswwwhemfridse
            {
            }
        }
     till <head>
    <script>

    </script>
        <style>

        </style>
    </head>
    <body>

    </body>*@
<head>
    <script>

    </script>
    <style>
    </style>
</head>
<body>
    <svg fill="#003b5c" height="100" viewBox="0 0 95 95" width="100" class="_3AlAu"><path d="m47.3 94.7c-26.1 0-47.3-21.2-47.3-47.4s21.2-47.3 47.3-47.3 47.4 21.2 47.4 47.4c0 26.1-21.2 47.3-47.4 47.3zm0-91.9c-24.5 0-44.5 20-44.5 44.6s19.9 44.5 44.5 44.5 44.6-19.9 44.6-44.5-20-44.6-44.6-44.6z"></path><path d="m67.9 75.5h-18.5v-14.8l.9-.4c3.2-1.2 5.3-4.3 5.4-7.7-.2-4.6-4-8.2-8.7-8.1-4.4.2-7.9 3.7-8.1 8.1 0 3.5 2.2 6.5 5.4 7.7l.9.4v14.7h-18.4c-5 0-9.1-4.1-9.1-9.1v-26.4c0-2.4.9-4.8 2.7-6.4l20.6-20.6c1.7-1.7 4-2.7 6.4-2.7s4.8.9 6.4 2.7l20.6 20.6c1.7 1.7 2.7 4 2.7 6.4v26.4c.1 5-3.9 9.2-9 9.3 0-.1-.1-.1-.2-.1zm-15.7-2.8h15.7c3.5 0 6.3-2.8 6.3-6.3v-26.5c0-1.7-.7-3.3-1.8-4.5l-20.5-20.6c-1.3-1.2-2.9-1.8-4.6-1.8s-3.3.7-4.5 1.8l-20.5 20.6c-1.2 1.2-1.8 2.8-1.8 4.5v26.4c0 3.5 2.8 6.3 6.3 6.3h15.8v-9.9c-5.5-2.7-7.8-9.4-5.1-15 2.7-5.5 9.4-7.8 15-5.1 3.9 1.9 6.3 5.8 6.3 10.1s-2.5 8.1-6.3 10v10z"></path></svg>
</body>
@* 27.10.2021. Then I add logo picture, logo text and header menu with items: <svg fill="#003b5c" height="100" viewBox="0 0 95 95" width="100" class="_3AlAu"><path d="m47.3 94.7c-26.1 0-47.3-21.2-47.3-47.4s21.2-47.3 47.3-47.3 47.4 21.2 47.4 47.4c0 26.1-21.2 47.3-47.4 47.3zm0-91.9c-24.5 0-44.5 20-44.5 44.6s19.9 44.5 44.5 44.5 44.6-19.9 44.6-44.5-20-44.6-44.6-44.6z"></path><path d="m67.9 75.5h-18.5v-14.8l.9-.4c3.2-1.2 5.3-4.3 5.4-7.7-.2-4.6-4-8.2-8.7-8.1-4.4.2-7.9 3.7-8.1 8.1 0 3.5 2.2 6.5 5.4 7.7l.9.4v14.7h-18.4c-5 0-9.1-4.1-9.1-9.1v-26.4c0-2.4.9-4.8 2.7-6.4l20.6-20.6c1.7-1.7 4-2.7 6.4-2.7s4.8.9 6.4 2.7l20.6 20.6c1.7 1.7 2.7 4 2.7 6.4v26.4c.1 5-3.9 9.2-9 9.3 0-.1-.1-.1-.2-.1zm-15.7-2.8h15.7c3.5 0 6.3-2.8 6.3-6.3v-26.5c0-1.7-.7-3.3-1.8-4.5l-20.5-20.6c-1.3-1.2-2.9-1.8-4.6-1.8s-3.3.7-4.5 1.8l-20.5 20.6c-1.2 1.2-1.8 2.8-1.8 4.5v26.4c0 3.5 2.8 6.3 6.3 6.3h15.8v-9.9c-5.5-2.7-7.8-9.4-5.1-15 2.7-5.5 9.4-7.8 15-5.1 3.9 1.9 6.3 5.8 6.3 10.1s-2.5 8.1-6.3 10v10z"></path></svg>  *@
@* 27.10.2021."Webbplatsen går inte att hitta jag skapar nytt projekt httpswwwhemfridse"*@